<div class="row">
  <div class="col-sm">
    <!-- /TODO SPACE/ -->
    <div class="input-group mb-3">
        <input #newTaskInput type="text" 
            (keyup.enter)="addTask(newTaskInput.value); newTaskInput.value=''" 
            class="form-control" 
            placeholder="New task" 
            aria-label="New task">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="addTask(newTaskInput.value); newTaskInput.value=''">Add / Enter</button>
        </div>
    </div>
    <ul class="list-group">
        <li *ngFor="let task of taskList" class="list-group-item">
            {{task}}
        </li>
    </ul>
  </div>
  <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                /WIDGET SPACE/
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                /WIDGET SPACE LIST/
            </div>
        </div>
  </div>
</div>
